@inherits LayoutComponentBase

<PageTitle>Desafio.Umbler.Front</PageTitle>

<nav id="menu" class="bg-primary Fixed navbar navbar-default navbar-fixed-top navbar-toggleable-xl " role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand float-xs-left" href="/"><div class="logo-umbler-negativo"></div></a>
    </div>
</nav>

<div class="container body-content page" style="min-height:100vh;display:flex;flex-direction:column;">
    <main style="flex:1 0 auto;">
        <article class="content px-4">
            @Body
        </article>
    </main>
    <hr />
    <footer id="footer" class="overflow-hidden">
        <div class="container pt-5 pos-relative">
            <div class="row flex-lg">
                <div class="col-lg-12">
                    <div class="footer-copyright flex-sm flex-sm-middle my-3 text-xs-center text-sm-left">
                        <a href="/" class="mr-2 hidden-xs-down">
                            <svg class="img-svg img-logo">
                                <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#img-umbler-favicon"></use>
                            </svg>
                        </a>
                        <b class="mr-3 hidden-lg-down">Umbler, Inc. © 2017</b>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
