name: CI

on:
  push:
    branches: [ "**" ]
  pull_request:
    branches: [ "**" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x
      - name: Restore dependencies
        run: dotnet restore ./src/Desafio.Umbler.sln
      - name: Build
        run: dotnet build ./src/Desafio.Umbler.sln --no-restore
      - name: Test
        run: dotnet test ./src/Desafio.Umbler.Test/Desafio.Umbler.Test.csproj --no-build --verbosity normal
